/* OUR STYLE FILE: A CSS SHEET*/ 

.header{
	height: 100px;
	margin: 20px;
}

.box{
	background: whitesmoke;
	border-style: solid;
	border-width: 10px;
	border-color: lightseagreen;
	padding: 20px;
	width:25%;
	margin: 50px 30px 100px 30px;
	float: left;


}

img{
	width: 100%;
}

body{
	background-color: darkcyan;
}

h1{
	color: ghostwhite;
	font-family: 'Nova Round', cursive;
	margin: 30px;
	font-size: 30px;

}

h2{
	color: ghostwhite;
	font-size: 15px;
	margin: 30px;
	font-family: 'Open Sans', sans-serif;
}

h3{
	font-family: 'Nova Round', cursive;
}

h4{
	font-family: 'Open Sans', sans-serif;
}

#link{
	margin: 100px;
	color: white;
	font-family: 'Open Sans', sans-serif;
	float: left;
}

#catgif{
	width: 10%;
	float: right;
	margin-top: 1px;
	margin-right: 40px;

}

#orange{
	border-style: solid;
	border-width: 10px;
	border-color: darkorange;
	margin-bottom: 200 px;
}

#blue{
	border-style: solid;
	border-width: 10px;
	border-color: deepskyblue;
}

#green{
	border-style: solid;
	border-width: 10px;
	border-color: darkseagreen;

